@using OnlineShopFrontend.Entities;
<MudItem Justify="Justify.Center">
    <MudPaper Style="height:fit-content; width:fit-content; padding:10px; word-wrap: break-word;">
        <div style="border-color:black; border-width:2px; border-style:groove; align-self:center; text-align:center; padding:5px;  border-radius:5px; margin:5px; width:fit-content;">Name: @Product.Name</div>
        <div style="border-color:black; border-width:2px; border-style:groove; align-self:center; text-align:center; padding:5px;  border-radius:5px; margin:5px; width:fit-content;">Price: @Product.Price</div>
    </MudPaper>
</MudItem>

@code {
    [Parameter]
    public Product Product { get; set; }

}
