@page "/cart"
@using MudBlazorOnlineShop.Components
@using MudBlazorOnlineShop.Interfaces;
@inject ICatalogCart CatalogCart
@inject IClock Clock
@inject NavigationManager NavigationManager


<div style="background-color:beige; border-radius:5px; padding:50px;">
	<h1 style="text-align:center;">Your cart</h1>
	<button @onclick="ClearCart" style="display:inline-block; background-color:red; padding:5px; border-radius:5px; margin:5px;">Clear Cart</button>
	<hr style="height:3px; background-color:black; border:none; margin-bottom:15px;" />
	<MudGrid>
		@foreach (var product in _products)
		{
			<div @onclick="() => OpenProductById(product)" style="margin:5px;">
				<ProductItem Product="@product" />
			</div>
		}
	</MudGrid>
</div>










